.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-container__content {
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .list-container__content__master {
    color: gray;
    font-style: italic;
  }
  .list-container__content__outfit {
    letter-spacing: normal;
  }
  .list-container__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-container__buttons * {
    margin: 0 5px;
  }